<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    
    <!-- URL Rewriting -->
    <rewrite>
      <rules>
        <!-- Route all requests to index.html for SPA routing -->
        <rule name="Root Hits" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.html" />
        </rule>
        
        <rule name="Static Assets" stopProcessing="true">
          <match url="^(icons|assets)/" />
          <action type="None" />
        </rule>
        
        <rule name="index.html" stopProcessing="true">
          <match url="^" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Static Content Compression -->
    <httpCompression directory="%SystemDrive%\websites\temp" doStaticCompression="true" doDynamicCompression="true" >
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      
      <dynamicTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/xml" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/manifest+json" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
      </dynamicTypes>
      
      <staticTypes>
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="application/manifest+json" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- MIME Types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <!-- Client Cache -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="31536000" httpExpires="Wed, 16 Feb 2027 00:00:00 GMT" />
    </staticContent>
    
    <location path="index.html">
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="3600" httpExpires="Thu, 13 Feb 2026 01:00:00 GMT" />
      </staticContent>
    </location>
    
    <location path="manifest.json">
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="86400" httpExpires="Fri, 14 Feb 2026 00:00:00 GMT" />
      </staticContent>
    </location>
    
    <location path="sw.js">
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAgeInSeconds="3600" httpExpires="Thu, 13 Feb 2026 01:00:00 GMT" />
      </staticContent>
    </location>

    <!-- HTTP Response Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
      </customHeaders>
    </httpProtocol>

    <!-- Security Headers for Service Workers -->
    <location path="sw.js">
      <httpProtocol>
        <customHeaders>
          <add name="Service-Worker-Allowed" value="/" />
          <add name="Cache-Control" value="public, max-age=3600" />
        </customHeaders>
      </httpProtocol>
    </location>

    <!-- Request Filtering -->
    <requestFiltering>
      <denyUrlSequences>
        <add sequence=".git" />
        <add sequence=".env" />
      </denyUrlSequences>
    </requestFiltering>

    <!-- Directory Browse Disabled -->
    <directoryBrowse enabled="false" />

  </system.webServer>
</configuration>
